<div class="navbar navbar-dark bg-dark m-0">
	<a class="nabvar-brand" href="#">Sports Store</a>
</div>
<div class="row m-0">
	<div class="col-3 bg-info p-2">		
		{{getCategories().length}} Categories
	</div>
	<div class="col-9 bg-success p-2">
		<!-- {{getProducts().length}} Products -->		
<div *ngFor="let p of getProducts()" class="card p-1 m-1">
	<div class="card-header p-1">
		{{p.name}}
		<span class="float-right tag-primary">
			{{p.price | currency:"USD":true:"2.2-2"}}</span>
	</div>
	<div class="card-body p-1">
		<div class="card-body p-0">
			<p>{{p.description}}</p>
		</div>
	</div>
</div>