<div>
	<h3 class="bg-info p-1">Cart Detail Component</h3>
</div>
<div class="m-1">
	<table class="table table-bordered table-striped p-1">
		<thead>
			<tr>
				<th>Quantity</th>
				<th>Product</th>
				<th>Price</th>
				<th>Subtotal</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngIf="cartService.cart.lines.length == 0">
				<td>
					Your cart is empty
				</td>
			</tr>
			<tr *ngFor="let line of cartService.cart.lines">
				<td>
					<input type="number" class="form-control-sm"
					[value]="line.quantity"
					(change)="cartService.updateQuantity(line.product, $event.target.value)"/>
				</td>
				<td>
					{{line.product.name}}
				</td>
				<td>
					{{line.product.price | currency:"USD":true:"2.2-2"}}
				</td>
				<td>
					{{line.lineTotal | currency:"USD":true:"2.2-2"}}
				</td>
				<td>
					<button class="btn btn-sm btn-danger" (click)="cartService.removeLine(line.product.id)" >
					Remove
					</button>
				</td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="3">Total:</td>
			<td>
				{{cartService.cart.cartPrice | currency:"USD":true:"2.2-2"}}
			</td>
		</tr>
		</tfoot>
	</table>
</div>
<div>
	<button class="btn btn-primary mx-1" routerLink="/store">
	Continue Shopping
	</button>
	<button class="btn btn-primary mx-1" routerLink="/checkout" [disabled]="cartService.cart.lines.length == 0">Checkout
	</button>
</div>